<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>905798947775-a988lgl254jsfdp6pig4o7jkcmj4999b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.905798947775-a988lgl254jsfdp6pig4o7jkcmj4999b</string>
	<key>API_KEY</key>
	<string>AIzaSyAIuRIc5R5QDzZwM5RfCbaG6X6MjREe7JA</string>
	<key>GCM_SENDER_ID</key>
	<string>905798947775</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>testproject.com.alexgrg.Online-Shop</string>
	<key>PROJECT_ID</key>
	<string>onlineshop-30ea5</string>
	<key>STORAGE_BUCKET</key>
	<string>onlineshop-30ea5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:905798947775:ios:2e0bc893b4628fe7ec070a</string>
</dict>
</plist>